html {
  font-size: 62.5%;
}
* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

body {
  background-color: rgb(174, 229, 243);
}

h2 {
  margin: 5rem 0rem 2rem 0rem;
  font-size: 3rem;
  text-align: center;
  user-select: none;
}

h3 {
  position: absolute;
  font-size: 4rem;
  font-weight: lighter;
  top: 69.2rem;
  right: 50%;
  user-select: none;
}

#number-score {
  left: 51%;
  font-weight: bold;
}

.main-section {
  position: relative;
}

.still {
  min-height: 45rem;
  max-height: 50rem;
  max-width: 88.9rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  outline: 0.5rem solid white;
  object-fit: cover;
  pointer-events: none;
}

#end-game-text {
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  font-size: 6rem;
  transition: 2s;
  text-align: center;
}

.time {
  font-size: 4rem;
  color: rgb(227, 174, 243);
}

.notransition {
  transition: none !important;
}

#play-again {
  cursor: pointer;
  color: rgb(174, 229, 243);
  text-align: center;
}

.controls {
  position: absolute;
  left: 50%;
  top: 65rem;
  transform: translateX(-50%);
}

input {
  position: relative;
  width: 50rem;
  height: 4rem;
  padding: 1rem;
  font-size: 2.2rem;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  background-color: brown;
  color: white;
}

#skip {
  position: absolute;
  transform: translateY(-100%);
  left: 102%;
  height: 4rem;
  width: 16rem;
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: 0.2rem solid brown;
  background-color: white;
  cursor: pointer;
}

#timer {
  position: absolute;

  font-size: 4.5rem;
  transform: translateX(-120%);
  top: -0.5rem;
  text-align: left;
}

#countdown {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  top: 62.6rem;
  left: 50%;
  transform: translateX(-50%);
}

.home img {
  position: absolute;
  height: 5rem;
  top: 4rem;
  left: 50%;
  transform: translateX(-500%);
}

.audio img {
  position: absolute;
  cursor: pointer;
  height: 4rem;
  top: 5rem;
  left: 50%;
  transform: translateX(490%);
}

img {
  user-select: none;
}
