html {
  font-size: 62.5%;
}

* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(174, 229, 243);
}

a {
  text-decoration: none;
  color: white;
}

.easy-mode {
  position: relative;
  width: 23rem;
  height: 23rem;
  border: 0.4rem solid black;
  border-radius: 0.7rem;
  left: 50%;
  transform: translateX(-102%);
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hard-mode {
  position: relative;
  width: 23rem;
  height: 23rem;
  border: 0.4rem solid black;
  border-radius: 0.7rem;
  left: 50%;
  transform: translateY(-100%);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease;
  user-select: none;
}

.img-overlay:hover {
  opacity: 1;
}

.img-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
}

.img-description {
  font-size: 2rem;
  margin-top: 1rem;
}

h1 {
  color: brown;
  font-size: 5rem;
  text-decoration: underline;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

.decade-selection a {
  display: inline-block;
  transform: translateX(-530%);
  cursor: pointer;
  font-size: 1.8rem;
  background: rgb(99, 39, 29);
  padding: 2rem;
}

.decade-selection {
  position: relative;
  left: 50%;
}

.decade-select-individual:hover {
  background: red;
}

a.selected {
  background: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 5rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 3.4rem;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4rem;
  width: 4rem;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 4rem;
}

input:checked + .slider {
  background-color: brown;
}

input:checked + .slider:before {
  transform: translateX(4rem);
}

.toggle-time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 54rem;
}

img.toggle-time {
  position: absolute;
  height: 6rem;
  transform: translateX(-180%);
}
